    *{
        margin:0%;
    }

body {

background-color: rgb(0, 0, 0);



}


header {

background-color: rgb(255, 0, 0);




}

aside {






}

main {






}

footer {




    
}

h3{
    color: white;
}

.nomenela{
    width: 15%;
}

.curry{
    width: 10%;
}

.precision{
    width: 10%;
}

.spawn{
    width: 10%;
}

.boladebasquete{
    width: 10%;
}

.boladefutebol{
    width: 10%;
}

.chuteira{
    width: 10%;
}

.rodapélogo{
    width: 10%;
    
}