    *{
        margin:0%;
    }

body {
    background-color: rgb(255, 255, 255);
    grid-gap: 5px;
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;

}




header {
    grid-area: cab;
    top: 0;
    position:sticky;
    background-color: rgb(255, 0, 0);

}

aside {
    grid-area: sec;
    background-color: brown;

}

main {
    
    grid-area: pri;
    background-color: white;
}

footer {

    grid-area: rod;
    background-color: black;
    
}

aside, main, footer{
   
}



h3{
    color: rgb(0, 0, 0);
}

h4{
    color: white;
}
.nomenela{
    width: 20%;
}


.rodapélogo{
    width: 15%;
    
}

.instagram{
    width: 5%;
}

.facebook{
    width: 5%;
}

.twitter{
    width: 5%;
}

h3{
    
}

.elemento_mae{
    background-color: aqua;
    height: 600px;
    display: flex; /* declarar o flexbox */
    flex-direction: row; /* alinhamento por linha ou horizontal */
    justify-content: space-around; /* centralizcao dos elementos */
    align-items: baseline; /* posicionamento perpendicular */
}

.elemento_filho_1{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
}
.elemento_filho_2{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    font-size: xx-large;
    text-align: center;
    border-radius: 20px;
}
.elemento_filho_3{
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 100px;
    text-align: center;
    border-radius: 20px;
}








