    *{
        margin:0%;
    }

body {

    display: grid;
    
    grid-template-areas:   
    "header header header"
    "aside main main"
    "footer footer footer"


}



header {

    grid-area: header;


background-color: #ff0000;

}

aside {

    grid-area: aside;

}

main {

    grid-area: main;
    background-color: #ffffff;

}

footer {

    grid-area: footer;
    background-color: #000000;

    
}

h3{
    color: rgb(0, 0, 0);
}

h4{
    color: white;
}
.nomenela{
    width: 15%;
}

.curry{
    width: 15%;
}

.precision{
    width: 15%;
}

.spawn{
    width: 15%;
}

.boladebasquete{
    width: 15%;
}

.boladefutebol{
    width: 15%;
}

.chuteira{
    width: 15%;
}

.rodapélogo{
    width: 15%;
    
}

.instagram{
    width: 5%;
}

.facebook{
    width: 5%;
}

.twitter{
    width: 5%;
}







